<ion-view view-title="Encounter">
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Patient Visit Number</span>
                <input type="text" placeholder="Patient Visit Number">
            </label>
            <label class="item item-input">
                <div class="input-label">Admit Date</div>
                <input type="date" style="text-align: right">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Encounter Status
                </div>
                <select>
                    <option value="planned" selected>Planned</option>
                    <option value="arrived">Arrived</option>
                    <option value="in-progress">In Progress</option>
                    <option value="onleave">On Leave</option>
                    <option value="finished">Finished</option>
                    <option value="cancelled">Canceled</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Patient Class
                </div>
                <select>
                    <option value="outpatient" selected>Outpatient</option>
                    <option value="inpatient">Inpatient</option>
                    <option value="emergency">Emergency</option>
                    <option value="other">Other</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Admission Type
                </div>
                <select>
                    <option value="A" selected>Accident</option>
                    <option value="E">Emergency</option>
                    <option value="L">Labor and Delivery</option>
                    <option value="R">R outine</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Admit Source
                </div>
                <select>
                    <option value="hosp-trans" selected>Hospital Transference</option>
                    <option value="emd">Accident/Emergency</option>
                    <option value="outp">Outpatient</option>
                    <option value="born">Born hospital</option>
                    <option value="gp">General Practitioner</option>
                    <option value="mp">Medical Practitioner/Physician</option>
                    <option value="nursing">Nursing home</option>
                    <option value="psych">Psychiatric hospital</option>
                    <option value="rehab">Rehabilitation facility</option>
                    <option value="other">Other</option>
                </select>
            </label>
        </div>
    </ion-content>
</ion-view>