<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{patient.name.given}} {{patient.name.middle}} {{patient.name.family}}" >
    <ion-nav-buttons side="secondary">
      <a class="button button-positive" href="#/tab/patients/encounter/{{patient.id}}" ng-disabled="{{patient.admited}}">
        Admit
      </a>
    </ion-nav-buttons>
    <ion-content>
        <div class="item row">
            <div class="col" style="text-align:center">
                <img ng-src="{{patient.photo}}" style="width: 200px; height: 200px; border-radius: 50%;">
            </div>
        </div>
        <div class="list">
            <div class="item row item-divider">
                <div class="col">
                    Personal Information
                </div>
            </div>
            <div class="item row">
                <div class="col">
                    <label>Name: </label>
                </div>
                <div class="col direction-right">{{patient.name.given}} {{patient.name.middle}} {{patient.name.family}}</div>
            </div>
            <div class="item row">
                <div class="col">
                    <label>Gender: </label>
                </div>
                <div class="col direction-right">{{patient.gender | genderFilter}}</div>
            </div>
            <div class="item row">
                <div class="col">
                    <label>Birthdate: </label>
                </div>
                <div class="col direction-right">{{patient.birthDate | date: 'yyyy/MM/dd'}}</div>
            </div>
            <div class="item row">
                <div class="col">
                    <label>Marital Status: </label>
                </div>
                <div class="col direction-right">{{patient.maritalStatus | maritalStatusFilter}}</div>
            </div>
            <div class="item row item-divider">
                <div class="col">
                    Contact Numbers
                </div>
            </div>
            <div class="item row">
                <div class="col">
                    <label>Home: </label>
                </div>
                <div class="col direction-right">{{patient.phoneHomeNumber}}</div>
            </div>
            <div class="item row">
                <div class="col">
                    <label>Work: </label>
                </div>
                <div class="col direction-right">{{patient.phoneWorkNumber}}</div>
            </div>
            <div class="item row item-divider">
                <div class="col">
                    Address
                </div>
            </div>
            <div class="item row">
                <div class="col">
                    <label>Street: </label>
                </div>
                <div class="col direction-right">{{patient.address.street}}</div>
            </div>
            <div class="item row">
                <div class="col">
                    <label>Zip Code: </label>
                </div>
                <div class="col direction-right">{{patient.address.zip}}</div>
            </div>
            <div class="item row">
                <div class="col">
                    <label>City: </label>
                </div>
                <div class="col direction-right">{{patient.address.city}}</div>
            </div>
            <div class="item row">
                <div class="col">
                    <label>State: </label>
                </div>
                <div class="col direction-right">{{patient.address.state}}</div>
            </div>
            <div class="item row">
                <div class="col">
                    <label>Country: </label>
                </div>
                <div class="col direction-right">{{patient.address.country}}</div>
            </div>
        </div>
    </ion-content>
</ion-view>