<ion-view view-title="Patients" hide-back-button="true">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="patient in patients" type="item-text-wrap" href="#/tab/patients/{{patient.id}}">
        <img ng-src="{{patient.photo}}">
          
        <h2>{{patient.name.given}} {{patient.name.middle}} {{patient.name.family}}</h2>
        
        <p>Admission Status :
            <i  ng-class="patient.admited ? 'ion-ios-body admited-icon' : 'ion-ios-body-outline'"></i>
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-list>
  </ion-content>
</ion-view>
