/* Empty. Add your own CSS if you like */

.admited-icon {
    color: green;
}

.direction-right {
    text-align: right;
}

.direction-right input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


